{% load static %}

<!DOCTYPE html>
  <html lang="en-US" dir="ltr">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>e-commerce {% block head_title %}{% endblock %}</title>
    {% block extra_head %}
    {% endblock %}

    <link rel="icon" href="{% static 'img/mdb-favicon.ico' %}" type="image/x-icon" />   

    <link rel="stylesheet" href="{% static 'redesign/assets/css/theme.css' %}" />    
  </head>

  <body>
    
    {% include 'navbar.html' %}
 

    <div class="mt-5 pt-4">
      {% if messages %}
          {% for message in messages %}
          <div class="container">
            <div class="alert alert-{{ message.tags }} alert-dismissable">
              <strong>{{ message }}</strong>
            </div>
          </div>
          {% endfor %}
      {% endif %}
    </div>

    {% block content %}
    {% endblock content %}
    
    {% include 'footer.html' %}
  
    {% include 'scripts.html' %}

    {% block scripts %}
    {% endblock scripts %}

  </body>
</html>
