{% extends 'base.html' %}

{% block content %}

<section class="py-5 overflow-hidden bg-primary" id="home">
  <div class="container">
    <div class="row flex-center">
      <div class="col-md-5 col-lg-6 order-0 order-md-1 mt-8 mt-md-0"><a class="img-landing-banner" href="#!"><img class="img-fluid" src="media/redesign/assets/img/gallery/bg.png" alt="hero-header" /></a></div>
      <div class="col-md-7 col-lg-6 py-8 text-md-start text-center">
        <h1 class="display-1 fs-md-5 fs-lg-6 fs-xl-8 text-light">YOUR SHOES</h1>
        <h1 class="text-800 mb-5 fs-4">Langkah dengan gaya <br class="d-none d-xxl-block" />jelajahi dunia dengan sepatu terbaik Anda</h1>
      </div>
    </div>
  </div>
</section>

<!-- List Produk -->
<section id="testimonial">
  <div class="container">
    <div class="row mb-3">
      <div class="col-12">
        <div class="row input-group-icon mb-2">
          <div class="col-10"><i class="fas fa-search input-box-icon text-500 ms-3"></i>
            <input class="form-control input-box border-2" type="email" placeholder="Cari produk keinginan anda" aria-label="email" />
          </div>
          <div class="col-2">
            <button class="btn btn-secondary" type="submit">Cari Produk</button>
          </div>
        </div>
      </div>
    </div>

    <div class="row h-100 mb-5">
      <div class="col-12 justify-content-center text-center">
        <a class="btn btn-md btn-danger" href="#">Paling Laris</a>
        <a class="btn btn-md btn-dark" href="#">Fashion Anak</a>
        <a class="btn btn-md btn-primary" href="#">Fashion Pria</a>
      </div>
    </div>

    <div class="row h-100">
      <div class="col-lg-7 mx-auto text-center mb-6">
        <h5 class="fw-bold fs-3 fs-lg-5 lh-sm mb-3">Produk Terbaru</h5>
      </div>
    </div>
    <div class="row gx-2">
      {% for pItem in object_list %}
      <div class="col-sm-6 col-md-3 col-lg-3 mb-5">
        <div class="card card-span h-100 text-white rounded-3">
          <a href="{{ pItem.get_absolute_url }}"><img class="img-fluid rounded-3" style="height: 300px; width: 100%;" src="{{ pItem.gambar.url }}" alt="{{ pItem.nama_produk }}" /></a>
          
          <div class="card-body ps-0">
            <div class="d-flex align-items-center mb-3">
              <div class="flex-1 ms-3">
                <a href="#"><span class="badge bg-danger mb-2"> New </span></a> 
                <a href="#"><span class="badge bg-primary mb-2"> {{ pItem.get_kategori_display }}</span></a>
                
                <a href="{{ pItem.get_absolute_url }}" class="text-reset">
                  <h5 class="card-title mb-2">{{ pItem.nama_produk }}</h5>
                </a>

                <p style="color: #000">Deskripsi : {{ pItem.deskripsi }}</p>
              </div>
            </div>
            <div class="text-center">
              <span class="badge bg-soft-danger p-2"><span class="fw-bold fs-1 text-danger">{% if pItem.harga_diskon %} <strike>Rp. {{ pItem.harga }}</strike> {% endif %}</span></span>
              <span class="badge bg-soft-secondary p-2 mt-2"><span class="fw-bold fs-1 text-secondary">Rp. {% if pItem.harga_diskon %} {{ pItem.harga_diskon }}{% else %}{{ pItem.harga }}{% endif %}</span></span>
            </div>
            <div class="d-grid gap-2 mt-3"><a class="btn btn-lg btn-danger" href="/add-to-cart/{{ pItem.slug }}" role="button" style="min-width: none;">Order now</a></div>
          </div>
        </div>
      </div>
      {% empty %}
        <p>Data Produk belum tersedia</p>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock content %}

