{% load static %}

<!-- <script type="text/javascript" src="{% static 'js/mdb.min.js' %}"></script> -->

<!-- Redesign -->
<script src="{% static 'redesign/vendors/@popperjs/popper.min.js' %}"></script>
<script src="{% static 'redesign/vendors/bootstrap/bootstrap.min.js' %}"></script>
<script src="{% static 'redesign/vendors/is/is.min.js' %}"></script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
<script src="{% static 'redesign/vendors/fontawesome/all.min.js' %}"></script>
<script src="{% static 'redesign/assets/js/theme.js' %}"></script>

<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&amp;display=swap" rel="stylesheet">
